/* TITULOS */

h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bolder;
  letter-spacing: 8.8px;
  margin-bottom: -5px;
}

h2 {
  font-size: 2.5rem;
  text-align: center;
  letter-spacing: -0.5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

/* NAVEGACIÓN */
.header__bars {
  display: none;
}

.header .nav .nav__ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* IMAGEN */

.inicio__figure {
  display: grid;
  place-content: center;
  width: 100%;
  position: relative;
}

.inicio__img {
  width: 700px;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.inicio__figure p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5rem;
  font-weight: bolder;
  color: #fff;
  text-shadow: -3px 2px 3px rgba(255, 255, 255, 0.7);
}

/* LINKS */

.inicio__item a {
  font-size: 2rem;
  display: block;
  position: relative;
  font-weight: bolder;
}
