@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);

@font-face {
  font-family: "Bebas";
  src: url("../public/fonts/Bebas-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary-color: #f7f3e7;
}

body {
  background-color: var(--primary-color);
  color: #000;
  font-family: "Bebas";
}

h1 {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bolder;
  letter-spacing: 3.2px;
  margin-bottom: -5px;
}

h2 {
  font-size: 1.2rem;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100vh;
  width: 100%;
  min-width: 320px;
  padding: 0 1rem;
  margin-top: 2rem;
  margin-bottom: 8rem;
}

/* NAVIGATION */
.header {
  position: sticky;
  top: 0;
  z-index: 20;
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.3rem 1rem;
  border-bottom: solid 2px #000;
}

.header__logo {
  font-size: 1.4rem;
  letter-spacing: 4px;
  font-weight: 500;
}

@media screen and (min-width: 550px) {
  section {
    justify-content: start;
  }

  .header__logo {
    font-size: 1.6rem;
    letter-spacing: 4px;
    font-weight: 500;
  }
}

@media screen and (min-width: 800px) {
  section {
    justify-content: start;
    margin-bottom: 25rem;
  }

  /* NAVEGACIÓN */
  .header__logo {
    font-size: 2rem;
    letter-spacing: 4px;
    font-weight: 500;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: rgb(241, 229, 214);
  }

  body {
    background-color: rgb(241, 229, 214);
  }

  .header {
    background-color: rgb(241, 229, 214);
  }
}
